* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
:root {
    --body-bg-color: #061542;
    --card-color: #FFF;

    font-size: 62.5%; /* 1rem = 10px*/
}
body {
    background: var(--body-bg-color);
}
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container {
    border-radius: 10rem;
    background: var(--card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perfil {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 2rem 10rem 0.5rem;
    background: var(--card-color);
    
}

.perfil img {
    width: 25rem;
    height: 25rem;
    object-fit: contain;
    border-radius: 50%;
    border: 0.5rem solid var(--body-bg-color);
}
.name--infor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--body-bg-color);
    text-transform: uppercase;
    margin: 0.5rem 0;
}
.name--infor h1 {
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.name--infor h3 {
    font-weight: 600;
    font-size: 1.6rem;
}
.buttons {
    margin-bottom: 2rem;
}
a {
    text-decoration: none;
}
a:last-child {
    display: none;
}
button img {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 3.2rem;
}
.link {
    width: 32rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 5.2rem;

    margin-top: 1.6rem;
    border: none;
    border-radius: 0.4rem;
    background: var(--body-bg-color);
    color: var(--card-color);
    cursor: pointer;

    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0;
    
}

@media (max-width: 768px) {
    .container {
        border-radius: 7rem;
    }
    .perfil {
        margin: 2rem 8rem 0.5rem;
    }
    .perfil img {
        width: 16rem;
        height: 16rem;
    }
    .link {
        width: 25rem;
        gap: 3.2rem;
    }
}